/* Traditional Theme */
.theme-traditional {
    --color-background: #f7f3eb;
    --color-text: #2c1810;
    --color-primary: #b44c43;
    --color-primary-text: #ffffff;
    --color-secondary: #4a593d;
    --color-secondary-text: #ffffff;
    --color-accent: #c17817;
    --color-accent-text: #ffffff;
    --color-card: #ffffff;
    --color-card-accent: #eae5d9;
    --color-footer: #2c1810;
    --color-footer-text: #f7f3eb;
}
/* Modern Theme */
.theme-modern {
    --color-background: #ffffff;
    --color-text: #333333;
    --color-primary: #2d3047;
    --color-primary-text: #ffffff;
    --color-secondary: #419d78;
    --color-secondary-text: #ffffff;
    --color-accent: #e0a458;
    --color-accent-text: #ffffff;
    --color-card: #f8f8f8;
    --color-card-accent: #eeeeee;
    --color-footer: #2d3047;
    --color-footer-text: #ffffff;
}
/* Sakura Theme */
.theme-sakura {
    --color-background: #4B5D67; /* Deep indigo wash */
    --color-text: #F8F8F8; /* Light rice paper for readability */
    --color-primary: #A67C52; /* Earthy brown, reminiscent of natural pigments */
    --color-primary-text: #F8F8F8; /* Light for readability */
    --color-secondary: #777777; /* Soft sumi gray wash */
    --color-secondary-text: #F8F8F8; /* Contrast */
    --color-accent: #C17817; /* Warm ochre accent */
    --color-accent-text: #F8F8F8; /* High contrast */
    --color-card: #5E6B73; /* Slightly lighter indigo wash for contrast */
    --color-card-accent: #DCD7C9; /* Light rice paper wash */
    --color-footer: #2C3E47; /* Deep muted blue-gray for balance */
    --color-footer-text: #F8F8F8; /* Light text for contrast */
}
/* Some options to play with 
.standard {
    --color-background: #f4f4f4;
    --color-text: #333;
    --color-accent: #555;
}

// Dark Theme
.dark-theme {
    --color-background: #1e1e1e;
    --color-text: #f4f4f4;
    --color-accent: #777;
}

// Custom Themes
traditional {
    --color-background: #eee8d5;
    --color-text: #6c5b7b;
}

modern {
    --color-background: #252525;
    --color-text: #ffffff;
}

sakura {
    --color-background: #ffeff7;
    --color-text: #ff69b4;
}*/